.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
    &__wrapper {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: #ccc;
        opacity: 0.5;
        overflow: hidden;
    }
    &__content {
        position: absolute;
        top: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: black;
        background-color: white;
        padding: 10px;
        border-radius: 10px;
        min-width: 300px;
        max-width: 80%;
        gap: 20px;
        max-height: 600px;
    }
    &__header {
        display: flex;
        align-items: center;
        justify-content: end;
        width: 100%;
    }

    &__body {
        overflow-y: scroll;

    }
}

.photoImg {
    width: 100%;
    height: auto;
}