.modal {
    
    &__wrapper {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: #ccc;
        opacity: 0.5;
    }
    &__content {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100vh;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}